# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

<div class="span5 alert alert-info">
### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
</div>
****

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [3]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)
# sum(data[data.race!='b'].call)

157.0

In [31]:
#callback ratios
callback_b = sum(data[data.race=='b'].call)/len_b
callback_w = sum(data[data.race=='w'].call)/len_w
print ("callback black names:",callback_b)
print ("callback white names:",callback_w)

callback black names: 0.064476386037
callback white names: 0.0965092402464

In [4]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

# What test is appropriate for this problem? Does CLT apply?

In [40]:
#count the number of entries with black sounding names
len_b = len(data[data.race=='b'])
#count the number of entries with black sounding names
len_w  = len(data[data.race=='w'])

Requirement for binomial distribution to be normal: 
np > 10 AND
nq > 10

In [41]:
print ("np:",len_b*callback_b)
print ("nq:",len_w*callback_w)

np: 157.0
nq: 235.0

Since the requirements are met and the sample size is large, CLT does apply.

# What are the null and alternate hypotheses?

H0: Race does not have an effect on callbacks
Ha: Race has an effect on callbacks

# Compute margin of error, confidence interval, and p-value.

In [15]:
#sample mean callback probabilities
callback_b = sum(data[data.race=='b'].call)/len_b
callback_w = sum(data[data.race=='w'].call)/len_w
mean_callbackDiff = callback_w-callback_b

In [36]:
#standard error
std_b = (callback_b*(1-callback_b))/len_b
std_w = (callback_w*(1-callback_w))/len_w
std_error = np.sqrt(std_b + std_w) 
print ("standard_error:",std_error)

standard_error: 0.00778337058668

In [35]:
#Margin of error for 95% confidence interval
mar_err = 1.96*std_error
print ("margin of error:",mar_err)

margin of error: 0.0152554063499

In [38]:
#Confidence interval
interval_h = mean_callbackDiff + mar_err
interval_l = mean_callbackDiff - mar_err
print (interval_l,interval_h)

0.0167774478596 0.0472882605593

In [39]:
#z-statistic, assuming null hypothesis holds
z_stat = mean_callbackDiff/std_error
#P-value
p_value = stats.norm.sf(abs(z_stat))*2
print ("p-value:",p_value)

p-value: 3.86256520752e-05

# Write a story describing the statistical significance in the context or the original problem.

Since the p-value of the hypothesis (3.86e-05) is less than the significance level of 0.05, we can reject the null hypothesis. Thus, the race of an applicant does have an effect in the callback rate!

# Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

Even though race has an effect on the callback success, we may be omitting some of the other variables that could have an effect like education, years experience, etc. It could be the case that when the names were randomly assigned to applicants, white sounding names might've been assigned to applicants with higher education and years of experience. Even though this is unlikely because the sample size is large, it is worth checking.

In [51]:
#Average years of experience for black name applicants
temp_data = data[data.race=='b']
print ("avg years of experience:",sum(temp_data['yearsexp'])/len_b)

avg years of experience: 7.8295687885

In [52]:
#Average years of experience for white name applicants
temp_data = data[data.race=='w']
print ("avg years of experience:",sum(temp_data['yearsexp'])/len_w)

avg years of experience: 7.85626283368

There doesn't seem to be much difference between the average years of experience for the two groups. Thus, the race seems to be the most important factor in callback success.